flows.json
[{"id":"fe8197df.f300c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b18040ae.cf90f","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"f3f4e55f.38c72","type":"http in","z":"fe8197df.f300c8","name":"SMART BOT","url":"/bot","method":"get","upload":false,"swaggerDoc":"","x":160,"y":240,"wires":[["55104e45.936498"]]},{"id":"55104e45.936498","type":"template","z":"fe8197df.f300c8","name":"BOT TEMPLATE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  My BOT\n\t</title>\n\t<link rel=\"stylesheet\"\n        type=\"text/css\"\n        href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n  </head>\n  <body>\n\n    <div class=\"container\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n\n      <h1>My BOT</h1>\n      <div id=id_botchathistory>\n\t  </div>\n\n\t  <div>\n\t      <form onsubmit=\"return false;\">\n            <label for=\"id_chattext\">Your Input: </label>\n            <input type=\"text\" name=\"chattext\" id=\"id_chattext\">\n\t      </form>\n\t      <button id=\"chatbutton\" onclick=\"javascript:onChatClick()\">Send</button>\n\t  </div>\n    </div>\n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script type=\"text/javascript\">\n\n      $(document).ready(function() {\n          javascriptCheck();\n          invokeAjax('init')\n      });\n\n      $(\"#id_chattext\").keyup(function(event){\n        event.preventDefault();\n        if(event.keyCode == 13){\n            $(\"#chatbutton\").click();\n        }\n      });\n      // if javascript is enabled on the browser then can\n      // remove the warning message\n      function javascriptCheck() {\n        $('#no-script').remove();\n      }\n\n      function createNewDiv(who, message) {\n        var txt = who + ' : ' + message;\n        return $('<div></div>').html(txt);\n      }\n\n      function chat(person, txt) {\n        $('#id_botchathistory').append(createNewDiv(person, txt));\n      }\n\n      function processOK(response) {\n        for (var r in response.output.text) {\n          chat('Bot', response.output.text[r]);\n        }\n        $('#id_contextdump').data('convContext', response.context);\n      }\n\n      function processNotOK() {\n        chat('Error', 'Error whilst attempting to talk to Bot');\n      }\n\n      function invokeAjax(message) {\n        console.log($('#id_contextdump').data('convContext'))\n        $.ajax({\n          type: 'POST',\n          url: 'botchat',\n          data: { message, context: $('#id_contextdump').data('convContext')},\n          success: processOK,\n          error: processNotOK\n        });\n      }\n\n      // User has entered some text.\n      function onChatClick() {\n        var txt = $('#id_chattext').val();\n        $('#id_chattext').val('');\n        chat('You', txt);\n        invokeAjax(txt);\n      }\n\n    </script>\n  </body>\n</html>","output":"str","x":310,"y":380,"wires":[["5c78939d.1cb56c"]]},{"id":"5c78939d.1cb56c","type":"http response","z":"fe8197df.f300c8","name":"","statusCode":"","headers":{},"x":540,"y":400,"wires":[]},{"id":"309d3505.0a9f0a","type":"http in","z":"b18040ae.cf90f","name":"","url":"/botchat","method":"post","upload":false,"swaggerDoc":"","x":150,"y":120,"wires":[["eb1ab04c.a8f3c8"]]},{"id":"eb1ab04c.a8f3c8","type":"function","z":"b18040ae.cf90f","name":"pre processing","func":"msg.params = msg.params || {};\nmsg.params.context = msg.payload.context;\nmsg.payload = msg.payload.message;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":140,"wires":[["f8b1287c.a5e76"]]},{"id":"f8b1287c.a5e76","type":"watson-conversation-v1","z":"b18040ae.cf90f","name":"","workspaceid":"059ed3f0-8e66-47f7-8bf4-8cd31701f190","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/1983479a-829c-40d0-ad13-83126cec2884","timeout":"","optout-learning":false,"x":580,"y":140,"wires":[["fc4e5492.0be","b209c0c0.2a2228"]]},{"id":"b209c0c0.2a2228","type":"http response","z":"b18040ae.cf90f","name":"","statusCode":"","headers":{},"x":950,"y":180,"wires":[]},{"id":"fc4e5492.0be","type":"debug","z":"b18040ae.cf90f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":920,"y":560,"wires":[]}]